@{ ViewData["Title"] = "Actors"; }
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/contact.css">
</head>
<body>
    <div class="column-left-right" style="background-color:#aaa;"></div>
    <div class="column-middle" style="background-color:#bbb;">
        <h1>About Us and Movie Flow!</h1>
        <h>
            <ul>
                !!!Aici trebuie sa puna Paul Codul!!!
            </ul>
        </h>
        </body>
    </div>
</html>
